@import "tailwindcss";

:root {
  --font-sans:
    "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  --font-serif: "Playfair Display", Georgia, "Times New Roman", serif;

  --color-bg: oklch(96.7% 0.001 286.375);
  --color-text: oklch(26.8% 0.007 34.298);

  --bg-primary: var(--color-bg);
  --bg-theme: var(--color-text);
  --text-primary: var(--color-text);
  --text-primary: var(--color-text);

  --body-bg: var(--color-bg);
}

@theme {
  --animate-shimmer: shimmer 1.4s ease-in-out infinite;

  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);

  --font-body: var(--font-sans);
  --font-h1: var(--font-serif);
  --font-titles: var(--font-sans);

  --text-primary: var(--color-text);
  --text-xxs: 0.562rem; /*9px*/
  --text-xs: 0.625rem; /*10px*/
  --text-sm: 0.75rem; /*12px*/
  --text-base: 0.875rem; /*14px*/
  --text-md: 1rem; /*16px*/
  --text-lg: 1.125rem; /*18px*/
  --text-xl: 1.25rem; /*20px*/
  --text-2xl: 1.375rem; /*22px*/
  --text-3xl: 1.5rem; /*24px*/
  --text-4xl: 1.625rem; /*26px*/
  --text-5xl: 1.75rem; /*28px*/
  --text-6xl: 1.875rem; /*30px*/
  --text-7xl: 2rem; /*32px*/
  --text-8xl: 2.125rem; /*34px*/
  --text-9xl: 2.25rem; /*36px*/
  --text-10xl: 2.37rem; /*38px*/
  --text-11xl: 2.5rem; /*40px*/
  --text-12xl: 2.625rem; /*42px*/
  --text-13xl: 3rem; /*48px*/

  --text-banner-xs: 3.5rem; /*56px*/
  --text-banner-sm: 4rem; /*64px*/
  --text-banner-md: 5rem; /*96px*/
  --text-banner-lg: 6rem; /*128px*/
  --text-banner-xl: 10rem; /*160px*/
}

@layer base {
  * {
    border-color: theme("colors.gray.300");
  }
}

html {
  height: 100%;
}
body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-body);
  line-height: 1.5;
  background-color: var(--body-bg);
  color: var(--color-text);
  position: relative;
}

body.about p {
  padding-bottom: 1rem;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

header h1 {
  font-family: var(--font-sans);
}
header ul li {
  font-family: var(--font-sans);
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}
